doctype html
block vars
html.no-js
  head
    meta(charset='utf-8')
    title Shatto
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
    script.
      (function(d) {
      var config = {
      kitId: 'eci1rtm',
      scriptTimeout: 3000,
      async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    // build:js scripts/vendor.js
    // bower:js

    // endbower
    // endbuild
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script.
      $(window).load(function(){$('#status').fadeOut();$('#preloader').delay(350).fadeOut(150);$('body').delay(350).css({'overflow':'visible'});$('body').fadeIn(1000);});
  body
   #preloader
    #status
   header.container-fluid
     .container-fluid.headerContainer
      .row

        .headerMain
          a(href="/")
            svg.cowHead(version="1.1", xmlns="http://www.w3.org/2000/svg" , xmlns:xlink="http://www.w3.org/1999/xlink" , x="0px" , y="0px", viewBox="0 0 82.68 55.6" , style="enable-background:new 0 0 82.68 55.6;" , xml:space="preserve")
              g
                  path(d='M32.37,40.75c-1.35,3.02-4.07,5.41-4.07,6.58c0,3.19,2.55,3.68,4.82,3.68c1.42,0,6.39-1.13,7.81-1.13 c1.42,0,5.23,1.13,6.65,1.13c4.96,0,6.8-1.49,6.8-5.1c0-3.61-2.16-2.12-4.86-4.24c-0.33-0.28-0.63-0.6-0.92-0.93l5.89,0 c-0.03,0.28-0.04,0.57,0.02,0.85c0.28,1.13,1.57,2.61,1.57,4.03c0,3.4-3.64,6.24-7.11,6.65c-2.09,0.79-3.49,3.01-6.21,3.27 c-2.43,0.23-3.98-0.28-6.06-1.57c-1.15-0.72-2.13-1.41-2.6-2.3c-1.01-0.1-2.98,0.57-4.49-0.33c-1.65-0.99-2.44-2.88-2.44-4.3 s2.27-3.68,2.27-5.1c0-0.51-0.74-0.73-1.33-1.2L32.37,40.75L32.37,40.75z M35.15,51.64c0,0,3.9-0.9,6.41-0.78 c2.35,0.11,5.91,1.23,5.91,1.23s-3.57,2.37-6.12,2.32C38.7,54.36,35.15,51.64,35.15,51.64L35.15,51.64z')
                  path(d='M28.1,40.75c-0.38-0.3-0.71-0.7-0.74-1.36c-0.01-0.12,1.49,0.11,1.45-0.14c-0.06-0.37-0.56-0.8-0.49-1.07 l-1.96,0.28c-0.08-0.75-1.39-1.52-0.9-1.84c-1.53-0.5-2.4-2.82-2.4-4.87c0-1.5,1.74-5.15,3.51-6.13c0.06-0.48-0.41-0.34-0.6-0.93 c0,0-2.78,1.67-3.06,2.24c-0.28-0.57-1.39-1.57-1.79-2.57c-2.05,1.12-6.15,1.71-7.56,1.71c-1.42,0-2.46-0.57-4.36-0.65 c-0.08-0.77-0.65-0.48-0.65-1.9c0-1.42,4.68-7.79,5.73-8.76c0,0,0.08-0.32-0.31-0.81c-1.52,1.09-6.69,7.46-7.93,9.26 c-1.83,0.03-1.83-0.53-2.6-0.62c-0.08-0.77,0.84-2.25,1.38-3.21c-0.49-0.41-1.75,0.46-2.55,0.34c0.53-1.96,1.16-3.57,1.38-5.56 C3.41,15.15,1.38,15.87,0,15.73c0.2-2.79,4.99-4.4,6.76-4.4c1.05,0,1.64,0.19,2.45,0.51c0.28,0.11,0.59,0.63,0.95,0.63 c0.4,0,0.7-0.59,1-0.77c0.86-0.54,1.7-0.98,4.89,0.21l0.91-0.83l-0.57-0.58c2.06-0.22,4.29-0.85,6.05,2.56 c2.63-1.13,5.63-1.39,8.26-3.02c1.84-1.13,3.01-5.91,5.16-6.47c0.63-0.17,0.49,1.44,0.84,1.45c0.24,0.01,0.7-1.32,0.93-1.34 c1.19-0.11,2.29-0.54,3.3-1.02C41.86,2.22,42.47,0,43.89,0s1.7,0.57,3.08,0.71c-0.96,1.81-1.93,2.11-1.86,2.62 c0.02,0.17,0.75,0.36,0.84,0.64c0.26-0.22,1.76-1.62,2.23-1.4c0.64,0.3,0.69,2.21,0.69,1.39c0,1.42-1.29,4.25-1.57,5.95 c-0.29-0.57-1.57-1.42-1.99-1.46c-0.46,1.02,0.01,2.03-0.08,3.36c-0.62,0.08-3.43,0.27-2.58,1.68c-1.25-0.26-2.69-0.46-3.7-0.37 c-0.68,1.19-2.15,2.07-2.85,2.87c-0.95,1.09-1.04,2.03-1.01,3.44c0.51,0.48,1.57,0.42,2.79,1.1v2.63 c-0.78,0.07-1.15,0.56-1.63,0.92c0.48,0.37,0.85,0.85,1.62,0.93c0.04,0.97,0.2,1.48-0.14,1.82c-0.33,0.33-1.15,0.48-1.34,0.7 c0.1,0.37,0.59,0.76,0.6,1.17c0.03,0.99-1.05,2.04-1.27,2.97c-0.08,0.32,0.53,0.63,0.53,0.9c0,1.45-1.87,3.42-3.15,5.47 c-0.07,0.94-0.34,1.84-0.72,2.69L28.1,40.75L28.1,40.75z M48.6,40.75c-0.33-0.38-0.65-0.77-0.98-1.15 c-0.05-0.05,1.07-0.43,1.55-0.83c0.55-0.45,0.47-0.92,0.42-0.98c-0.04-0.04-0.22-0.41-0.58-0.24c-0.31,0.15,0.05,0.45-0.2,0.75 c-0.4,0.48-1.35,0.96-1.41,0.91c-0.44-0.41-1.46-1.12-2.05-1.34c-0.06-0.73,0.59-1.5,1.08-1.91c-0.28-0.5-1.21-0.87-1.92-0.61 c-0.74-0.39-1.09-1.3-1.09-1.98c0-0.78,0.74-0.63,0.18-3.12c1.54-1.52,4.25-1.67,6.1-2.99c0.07-0.34-0.28-0.68-0.37-1.19 c-0.85,1.06-3.19,1.9-4.68,2.38c0.76-0.91,1.74-2.36,2-4.03c1.88-1.88,5.11-3.79,6.64-4.65c0,0,0.07-0.29-0.4-0.79 c-1.02,0.02-5.74,4.76-6.08,3.39c-0.27-1.08,0.76-0.82,0.76-2.24c0-1.42-1.05-3.2-2.26-4.5c1.24-2.24,4.46-4.29,6.51-4.29 c3.33,0,5.15,1.98,7.34,3.97c2.07-2.66,8.94-2.04,11.84-3.03c0.99-0.28,1.95-1.98,3.49-1.85c1.53,0.13,1.83,1.51,3.11,2.39 c-0.84,0.22-1.78,0.7-2.26,1.06c1.75,1.5,3.09,1,4.44,2.2c0.78,0.71,1.64,1.52,2.88,2.19c0.04,0.72-0.61,1.48-1.68,2.52 c0.01,0.66,0.72,1.12,1.19,1.74c0.26,0.34,0.01,1.17-0.04,1.67c-0.37-0.15-0.28-0.7-0.62-0.8c-0.97-0.29-1.82-0.53-2.59-1.32 c-0.46,0.02-0.88,1.11-1.44,1.46c-1.13,0.77-2.95,0.82-4.02,0.95c-0.5,0.39-1.02,1.48-1.87,2.46c-1,0.25-2.55,0.15-3.4,1.13 c0,0-2.51-0.39-2.53,0.12c-1.25,0.67-2.51,0.13-3.79,0.09c0,0-0.05-0.61-0.7-1.35c0.52-0.77,0.24-1.23,0.59-1.51 c0.35-0.28,1.32-0.37,1.72-0.4v-1.43c-0.26-0.16-0.57-0.32-1.17-0.37c-0.46-0.04-0.01,0.67-0.45,0.96 c-0.28,0.18-1.45-0.07-1.75,0.05c-0.69,0.27-2.23,0.87-1.52,0.78c0.46-0.06,0.94,0.42,1.45,0.72c-1.78,1.95-3.53,4.25-6.11,5.8 c0.42,0.94-0.69,1.61-0.69,3.03c0,1.42,1.13-0.28,1.13,1.13c0,1.42-1.13,1.42-1.16,1.88c0.51,0.47,0.87,0.39,1.64,0.47 c0.06,0.98-0.27,1.86-0.37,2.68L48.6,40.75L48.6,40.75z')
                  path(d='M37.26,41.01l-1.5-0.39c0,0-4.6,4.21-3.11,6.03c1.49,1.81,1.88,1.43,3.05,1.3c1.17-0.13,3.12-1.94,3.12-1.94l-2.02-1.81 c0,0-2.59,2.33-2.85,1.55C33.69,44.96,37.26,41.01,37.26,41.01L37.26,41.01z')
                  path(d='M44.15,41.01l1.5-0.39c0,0,4,2.92,2.91,5.19c-1.02,2.11-1.46,2.07-2.84,2.13c-0.85,0.04-2.08-0.64-2.08-0.64l1.36-2.33 c0,0,1.75,0.46,2.01-0.32C47.26,43.86,44.15,41.01,44.15,41.01L44.15,41.01z')
            svg.letters(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" , x="0px" , y="0px", viewBox="0 0 497.93 81.78" , style="enable-background:new 0 0 497.93 81.78;" , xml:space="preserve")
                  polygon(points='12.27,81.78 19.13,65.81 21.96,80.91 24.54,80.91 20.03,57.84 12.27,76.19 4.5,57.84 0,80.91 2.58,80.91 \
      5.37,65.81 12.27,81.78 ')
                  polygon(points='51.61,80.91 54.25,80.91 54.25,58.7 51.61,58.7 51.61,80.91 ')
                  polygon(points='86.97,80.91 98,80.91 98,78.4 89.61,78.4 89.61,58.7 86.97,58.7 86.97,80.91 ')
                  polygon(points='126.92,80.91 129.53,80.91 129.53,68.95 139.53,80.91 142.95,80.91 132.48,68.7 142.02,58.7 138.85,58.7 129.53,68.58 129.53,58.7 126.92,58.7 126.92,80.91 ')
                  path(d='M220.4,64.01v-3.45c-2.3-1.58-4.66-2.39-7.3-2.39c-3.26,0-6,1.08-8.26,3.26c-2.33,2.27-3.48,5.03-3.48,8.48 c0,3.94,1.77,7.3,5,9.53c1.93,1.34,4.19,2.05,6.55,2.05c2.7,0,5.28-0.84,7.49-2.42v-3.51c-2.02,2.36-4.47,3.51-7.27,3.51 c-3.01,0-5.71-1.43-7.48-3.95c-1.02-1.46-1.52-3.2-1.52-5.25c0-2.61,0.84-4.78,2.55-6.55c1.65-1.71,4.01-2.7,6.33-2.7 C215.89,60.63,218.25,61.69,220.4,64.01L220.4,64.01z')
                  path(d='M272.14,69.85c0-3.16-1.18-6.05-3.45-8.26c-2.24-2.18-5.28-3.38-8.42-3.38c-3.13,0-6.15,1.21-8.38,3.38 c-2.27,2.21-3.48,5.1-3.48,8.26c0,3.17,1.21,6.03,3.48,8.23c2.24,2.17,5.25,3.41,8.38,3.41c3.11,0,6.15-1.21,8.42-3.41 C270.93,75.91,272.14,73.02,272.14,69.85L272.14,69.85z M260.27,79.01c-2.45,0-4.66-0.93-6.43-2.7c-1.74-1.77-2.67-3.98-2.67-6.46 c0-2.48,0.93-4.75,2.67-6.52c1.71-1.74,3.98-2.67,6.43-2.67c2.46,0,4.69,0.93,6.43,2.67c1.74,1.74,2.67,4.04,2.67,6.52 c0,2.49-0.93,4.72-2.67,6.46C264.94,78.08,262.7,79.01,260.27,79.01L260.27,79.01z')
                  polygon(points='308.56,81.78 315.43,65.81 318.26,80.91 320.83,80.91 316.33,57.84 308.56,76.19 300.8,57.84 296.3,80.91 \
              298.88,80.91 301.67,65.81 308.56,81.78 ')
                  path(d='M351.7,68.55v-7.42h1.33c3.85,0,5.75,0.62,5.75,3.85c0,3.07-1.93,3.57-5.75,3.57H351.7L351.7,68.55z\
                M351.7,70.94h1.33c0.25,0,0.5,0,0.75,0c2.3,0,4.1-0.06,5.59-1.12c1.4-0.99,2.27-2.82,2.27-5c0-2.17-0.87-4.01-2.27-5\
                c-1.49-1.06-3.32-1.12-5.59-1.12c-0.25,0-0.5,0-0.75,0h-3.91v22.21h2.58V70.94L351.7,70.94z')
                  path(d='M394.41,57.84l-10.06,23.07h2.85l2.89-6.8h8.67l2.89,6.8h2.86L394.41,57.84L394.41,57.84z M394.41,63.67\
                l3.54,8.17h-7.08L394.41,63.67L394.41,63.67z')
                  polygon(points='429.81,80.91 432.32,80.91 432.32,64.23 448.57,81.78 448.57,58.7 446.05,58.7 446.05,75.57 429.81,57.84 \
                429.81,80.91 ')
                  polygon(points='482.65,80.91 485.28,80.91 485.28,70.75 492.8,58.7 489.76,58.7 483.98,68.33 478.17,58.7 475.13,58.7 \
                  482.65,70.75 482.65,80.91 ')
                  path(d='M21.61,23.79l-7.01-3.09c-4.47-1.93-6.6-4.4-6.6-7.91c0-4.19,3.1-7.15,7.5-7.15c3.51,0,6.19,1.93,8.32,5.64l4.81-3.1\
                    C26.22,3.3,21.81,0.76,15.9,0.76c-8.18,0-13.82,5.23-13.82,12.1c0,5.98,3.16,10.25,9.69,13l5.98,2.54c5.09,2.2,7.63,5.43,7.63,9.83\
                    c0,5.36-3.92,9.15-9.83,9.15c-4.95,0-8.32-3.09-9.76-9.08L0.5,40.92c1.86,7.29,7.29,11.41,15.06,11.41\
                    c9.49,0,15.75-6.05,15.75-15.06C31.3,31.08,28.07,26.54,21.61,23.79L21.61,23.79z')
                  polygon(points='89.81,51.09 95.66,51.09 95.66,26.4 121.79,26.4 121.79,51.09 127.7,51.09 127.7,1.93 121.79,1.93 121.79,20.84 \
                    95.66,20.84 95.66,1.93 89.81,1.93 89.81,51.09 ')
                  path(d='M205.76,0l-22.28,51.09h6.33l6.4-15.06h19.19l6.39,15.06h6.33L205.76,0L205.76,0z M205.76,12.93l7.84,18.08\
                      h-15.68L205.76,12.93L205.76,12.93z')
                  polygon(points='288.71,51.09 294.62,51.09 294.62,7.49 308.44,7.49 308.44,1.93 274.81,1.93 274.81,7.49 288.71,7.49 288.71,51.09 \
                      ')
                  polygon(points='376.89,51.09 382.8,51.09 382.8,7.49 396.62,7.49 396.62,1.93 362.99,1.93 362.99,7.49 376.89,7.49 376.89,51.09 \
                        ')
                  path(d='M497.93,26.61c0-7.01-2.61-13.4-7.63-18.29c-4.95-4.81-11.69-7.5-18.63-7.5c-6.95,0-13.62,2.68-18.56,7.5\
                          c-5.02,4.88-7.7,11.28-7.7,18.29c0,7.02,2.68,13.34,7.7,18.22c4.95,4.81,11.62,7.57,18.56,7.57c6.88,0,13.62-2.68,18.63-7.57\
                          C495.25,40.02,497.93,33.62,497.93,26.61L497.93,26.61z M471.66,46.9c-5.43,0-10.32-2.07-14.24-5.98\
                          c-3.85-3.92-5.91-8.81-5.91-14.31c0-5.5,2.07-10.52,5.91-14.44c3.79-3.85,8.81-5.91,14.24-5.91c5.43,0,10.39,2.06,14.23,5.91\
                          c3.85,3.85,5.92,8.94,5.92,14.44c0,5.5-2.07,10.46-5.92,14.31C481.98,44.83,477.03,46.9,471.66,46.9L471.66,46.9z')
         .cd-nav-trigger
          | Menu
          span.cd-nav-icon
          svg(x='0px', y='0px', width='54px', height='54px', viewbox='0 0 54 54')
            circle(fill='transparent', cx='27', cy='27', r='25', stroke-dasharray='157 157', stroke-dashoffset='157')
        .cd-nav
          .cd-navigation-wrapper
            .cd-half-block
              nav
                ul.cd-primary-nav
                  li.home
                    a(href='/', title="HOME").textSlide
                      span(data-hover="HOME") HOME
                  li
                    a(href='products.html', title="PRODUCTS").textSlide
                      span(data-hover="PRODUCTS") PRODUCTS
                  li
                    a(href='events-tours.html', title="TOURS/EVENTS" ).textSlide
                      span(data-hover="EVENTS/TOURS") EVENTS/TOURS
                  li
                    a(href='find.html', title="FIND").textSlide
                      span(data-hover="LOCATE") LOCATE
                  //- li
                  //-   a(href='merchandise.html', title="MERCHANDISE").textSlide
                  //-     span(data-hover="MERCH") MERCH
                  li
                    a(href='about.html', title="ABOUT").textSlide
                      span(data-hover="ABOUT") ABOUT
                  //- li
                  //-   a(href='blog.html', title="BLOG").textSlide
                  //-     span(data-hover="BLOG") BLOG
                  li
                    a(href='contact.html', title="CONTACT").textSlide
                      span(data-hover="CONTACT") CONTACT
  main

    block content

    include footer.jade
    .outdated

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    script(src='http://maps.google.com/maps/api/js?libraries=places,geometry')
    script(src='scripts/plugins/sticky.js')
    script(src='scripts/plugins/jquery.vide.js')
    // build:js scripts/plugins.js
    //- script(src='scripts/plugins/jquery.waypoints.js')
    //- script(src='scripts/plugins/slick.js')
    //- script(src='scripts/plugins/unveil.js')
    //- script(src='scripts/plugins/picturefill.js')
    //- script(src='scripts/plugins/datedropper.js')
    //- script(src='scripts/plugins/oldBrowser.js')
    //- script(src='scripts/contact/nlform.js')
    // endbuild

    // build:js scripts/map.js
    //- script(src='scripts/map/jplist.min.js')
    //- script(src='scripts/map/jlocator/jlocator.js')
    //- script(src='scripts/map/jlocator/controller/controller.js')
    //- script(src='scripts/map/jlocator/view/panel.js')
    //- script(src='scripts/map/jlocator/view/map.js')
    //- script(src='scripts/map/jlocator/models/store.js')
    //- script(src='scripts/map/jlocator/controls/autocomplete.js')
    //- script(src='scripts/map/jlocator/controls/autocomplete-radius.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild


